* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #f0eee1;
}

main {
  max-width: 1200px;
  margin-inline: auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*----------------- header----------------- */

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 1.5rem;
  font-size: 1.3rem;
}

nav a:hover {
  color: grey;
}

.logoLink {
  width: 100px;
  display: inline-block;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  --less-than: 700;
  --burger-lines: #000000;
  --burger-border: #000000;
}

@media (max-width: 700px) {
  .logo {
    display: none;
  }
}

/* ---------------- Footer -------------- */

footer h3 {
  margin-block: 1rem;
}

/* ------------- produktliste ------------- */
.productlist main {
  display: grid;
  gap: 2rem;
}

.productlist article.soldOut img {
  opacity: 0.5;
}

.productlist main h2 {
  grid-column: 1/-1;
}
.productlist article.onSale .discounted {
  display: flex;
  justify-content: space-between;
}

.productlist article.soldOut::before {
  content: "Sold Out";
  position: absolute;
  background: var(--color);
  color: var(--background-color);
  padding: 1rem;
}

.productlist article {
  display: flex;
  flex-direction: column;
}

.productlist article h3 {
  font-size: 1rem;
  flex-grow: 3;
}

.productlist article * {
  margin: 0;
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}

.productlist article .discounted,
.productlist article .price span {
  display: none;
}

footer {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 1.5rem;
  font-size: 1.3rem;
}

.gem {
  display: none;
}

html {
  font-family: "Oswald", sans-serif;
}
