* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #77726e;
  font-family: "Oswald", sans-serif;
  color: #fff;
}

main {
  max-width: 1200px;
  margin-inline: auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*----------------- header----------------- */

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 1.5rem;
  font-size: 1.3rem;
}

nav a:hover {
  color: black;
}

.logoLink {
  width: 100px;
  display: inline-block;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

nav {
  --less-than: 700;
  --burger-lines: #000000;
  --burger-border: #000000;
}

@media (max-width: 700px) {
  .logoLink {
    display: none;
  }
}

/* ---------------- Footer -------------- */

footer h3 {
  margin-block: 1rem;
}

/* ------------- produktliste ------------- */
.productlist main {
  display: grid;
  gap: 2rem;
}

.productlist main h2 {
  grid-column: 1/-1;
}
.productlist article.onSale .discounted {
  display: flex;
  justify-content: space-between;
}

.productlist article.soldOut::before {
  content: "Sold Out";
  position: absolute;
  background: var(--color);
  color: var(--background-color);
  padding: 1rem;
}

.productlist article {
  display: flex;
  flex-direction: column;
}

.productlist article h3 {
  font-size: 1rem;
  flex-grow: 3;
}

.productlist article * {
  margin: 0;
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}

.productlist article .discounted,
.productlist article .price span {
  display: none;
}

footer {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 1.5rem;
  font-size: 1.3rem;
}

.gem {
  display: none;
}

/* ------------Produkt------------ */
@media (min-width: 700px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.info {
  text-align: center;
}

dt {
  margin-top: 1rem;
  font-weight: bold;
}

button {
  margin-top: 1rem;
  padding: 0.6rem;
  background-color: #948d87;
  color: #fff;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0px 6px 10px #00000086;
}

button:hover {
  background-color: grey;
}

.madeOf {
  text-align: center;
}

#first {
  margin-top: 3rem;
}

.box {
  background-color: #a09993;
  margin-inline: 11rem;
}
