* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #f0eee1;
}

main {
  max-width: 1200px;
  margin-inline: auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 1.5rem;
  font-size: 1.3rem;
}

nav a:hover {
  color: grey;
}

a {
  text-decoration: none;
  color: black;
}

.forsideBilleder {
  display: flex;
  justify-content: space-between;
}

.forsideBilleder img {
  padding: 1rem;
  border-radius: 25px;
}
