.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1/3;
  grid-row: 1/3;
  margin-inline: auto;
}

#læsmere {
  font-size: 1.3rem;
  text-decoration: underline;
}

a:hover {
  color: grey;
}

img:hover {
  opacity: 80%;
}
