.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1/3;
  grid-row: 1/3;
}

p {
  font-family: "Oswald", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}

a {
  font-family: "Oswald", sans-serif;
}

ul {
  font-family: "Oswald", sans-serif;
}

button {
  font-family: "Oswald", sans-serif;
}
